html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding: 80px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-right{
  float: right;
}



body {
  background-color: #ffffff;
  background-image: url("../images/hintergrundbild.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
.register{
  width: 400px;
  background-color: #ccc6c6;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

. hometitle h2{
  text-align: center;
}
.register form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.register form input[type="password"], .register form input[type="text"]{
  width: 310px;
  height: 50px;
  border: 1px solid #b1b1c9;
  margin-bottom: 20px;
  padding: 0 15px;
}

.register form input[type="submit"]{
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #87b911;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.register form input[type="submit"]:hover{
  background-color: #08600e;
  transition: background-color 0.2s;
}

.nav-icon{
  position: relative;
}

.nav-icon svg {
  fill: #be7610;
  height: 24px;
  width: 24px;
}
h1{
  text-align: center;
  font-size: 70px;
  text-decoration: 3px underline;
  font-family: Dubai;
}
.table{
  background-color: #cecbc5;
}